body{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Serif', serif;
    
    
}

.sign-in h1{
    color: #fff;
    margin-bottom: 30px;
}



.sign-btn{
    color:#fff;
    width:50%;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px 0;
    border:none;
    outline: none;
    cursor: pointer;
    background-color: #1c8adb;
}

a{
    text-decoration: none;
    color: #fff;
}


.input-box {
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    width:70%;
    border: 1px solid #999;
    outline: none;
}
hr{
    margin-top: 20px;
    width: 80%;
}
.or{
    background: #6568F4;
    width:30px;
    margin: -22px auto 20px;
}
img{
    width: 150px;
    margin-top: -80px;
    border-radius: 50%;
}
